.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 900px;
}

.form {
  background-color: rgb(245, 241, 241);
  border-radius: 5px;
  padding: 10px;
}

html {
  display: flex;
  justify-content: center;
}

.list-container {
  display: flex;
  justify-content: space-around;


}

.pending-todo-list-container,
.completed-todo-list-container {
  width: 400px;
  background-color: rgb(238, 234, 234);
  padding: 20px;
  margin: 20px;
}

.pending-todo-list li,
.completed-todo-list li {
  display: flex;
  flex-direction: row;
  text-align: center;
}

/* li input:not(:read-only) {
  background-color: white;
} */

li input {
  background-color: beige;
  border: none;
  padding: 10px 0px;
  margin: 10px;
  text-align: center;
}

button {
  margin: 9px;
}