.app {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  width: fit-content;
  padding: 10px;
  text-align: center;
  gap: 10px;
  align-items: stretch;

}

html {
  display: flex;
  justify-content: center;
}

.list-container {
  display: flex;
}

/* .pending-todo-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
} */

.pending-todo-list li {
  display: flex;
  justify-content: space-between;
}

/* .pending-todo-list li input {
  flex-grow: 1;
  text-align: center;
} */

/* .list-container {
  display: flex;
  justify-content: space-around;
} */

li input:not(:read-only) {
  background-color: white;
}